body {
    background-color:#999;
}

.container{
    margin: 0px auto;
    max-width: 960px;
    box-sizing: border-box;
    background-color:red;
    position: relative;
}

.header {
    margin:40px auto 0px;
    background-color:#555;
    line-height: 70px;
    color: chartreuse;


}

.header h1 {
    font-size:50px;
    text-align:center;
}

#game {
    background-color: cornflowerblue;
    padding: 50px 0 20px;
    border: 3px solid rebeccapurple;

}

#solution {
    background-color: gold;
    display:block;
    width: 300px;
    height: 300px;
    margin: 0px auto;
    padding: 20px 20px;
    border:10px dotted dodgerblue;
}

#gamescreen {
    background-color: orchid;
    margin: 40px 40px;
    padding: 40px 40px; 
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5em;
    font-size: 46px;
    -webkit-text-stroke: 2px black;
    color: white;
    }
